body{
    background-color: #FAFAFA !important;
}
.text-main-color{
    color: #0C2D57;
}
.text-color{
    color: #FF4910;
}
.bg-color{
    background: #FF4910;
}
.bg-main{
    background-color: #F5F5F5;
}
.active{
    color: white !important;
    background-color: #0C2D57 !important;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
}
.bg-input{
    background-color: #FAFAFA !important;
}
.mt-10{
    margin-top: 10rem;
}
.mt-15{
    margin-top: 15rem;
}
.fs-10{
    font-size: 10px;
}
.fs-20{
    font-size: 20px;
}
.fs-30{
    font-size: 30px;
}
.react-tel-input{
    margin-bottom: 1px !important;
}
.react-international-phone-input{
    border-color: #0C2D57 !important;
    padding: 0 114px 0px 15px !important;
}
.react-international-phone-country-selector-button{
    border-color: #0C2D57 !important;
}
.next-btn:hover{
    background-color: #0F552D;
    color: white;
    transition: 0.4s;
}
.next-btn{
    transition: 0.4s;
}
.trip-select{
    transition: 0.4s;
}
.trip-select:hover{
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.4s;
}
.h-custom{
    height: 90lvh;
}
.mt-custom{
    margin-top: 1px;
}
table{
    border-collapse: collapse;
    width: 100%;
}

thead{
    border-bottom: 1px solid #000000;
}

tbody tr{
    border-bottom: 1px solid #000000;
}

th, td{
    padding: 8px;
    text-align: left;
}
.progress-bar-container{
    position: relative;
    background-color: rgba(217, 217, 217, 0.7);
    border-radius: 10px;
    overflow: hidden;
    height: 25px;
}
.progress-label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    pointer-events: none;
}
.progress-bar {
    height: 100%;
    background-color: #FF4910;
    text-align: center;
    line-height: 10px;
    color: #fff;
    transition: width 0.5s ease-in-out;
}
.opacity-7{
    opacity: 0.7 !important;
}
.bg-active{
    background-color: #F3F4F6 !important;
}
.border-shopping{
    border: 3px solid #FDA354 !important;
}
.border-food{
    border: 3px solid #0C2D57 !important;
}
.border-transportation{
    border: 3px solid #D9D9D9 !important;
}
.border-housing{
    border: 3px solid black !important;
}
tr, th, td{
    text-align: center;
}
.custom-confirm-btn {
    background-color: white !important;
    color: #2575fc !important;
    font-weight: bold;
}
.data-\[state\=checked\]\:bg-primary {
    &[data-state="checked"] {
        background-color: #22C55E !important;
    }
}
.data-\[state\=checked\]\:translate-x-\[calc\(100\%-2px\)\] {
    &[data-state="checked"] {
        --tw-translate-x: calc(100% - -14px);
    }
}
.bg-active{
    background-color: #F0FDF4;
}
.border-active{
    border: 3px solid #22C55E !important;
}
.card-color{
    color: #16A34A !important
}
.text-active{
    color: #166534 !important;
}
.bg-text-active{
    background-color: #DCFCE7 !important;
}
.bg-card-append{
    background-color: #EFF6FF !important;
}
.bulb-img{
    inset: 900px;
}
.m-navbar{
    margin-left: -100px;
}

.react-international-phone-input-container .react-international-phone-input{
    border-radius: var(--react-international-phone-border-radius, 8px) !important; 
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    padding-top: 18px !important;
    padding-bottom: 18px !important;
    width: 90%;
}
.react-international-phone-country-selector-button{
    padding-top: 18px !important;
    padding-bottom: 18px !important;
    border-radius: var(--react-international-phone-border-radius, 8px) !important; 
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.mt-card{
    margin-top: calc(var(--spacing) * 19);
}

@media only screen and (max-width: 768px){
    .w-switch{
        width: calc(var(--spacing) * 12) !important;
    }
    .h-switch{
        height: 1.2rem !important
    }
}
@media only screen and (min-width: 910px){
    .w-switch{
        width: calc(var(--spacing) * 17) !important;
    }
    .h-switch{
        height: 2.05rem !important
    }
    .size-4{
        margin-left: 2px;
        width: calc(var(--spacing) * 6) !important;
        height: calc(var(--spacing) * 6) !important;
    }
}

@media(min-width: 1000px){
    .h-table{
        height: 51rem;
    }
    .bulb-img{
        inset: 1250px; 
    }
    .w-switch{
        width: calc(var(--spacing) * 17) !important;
    }
    .h-switch{
        height: 2.05rem !important
    }
    .size-4{
        margin-left: 2px;
        width: calc(var(--spacing) * 6) !important;
        height: calc(var(--spacing) * 6) !important;
    }
}

@media(min-width: 1200px){
    .h-table{
        height: 50rem;
    }
    .bulb-img{
        inset: 1250px; 
    }
    .w-switch{
        width: calc(var(--spacing) * 17) !important;
    }
    .h-switch{
        height: 2.05rem !important
    }
    .size-4{
        margin-left: 2px;
        width: calc(var(--spacing) * 6) !important;
        height: calc(var(--spacing) * 6) !important;
    }
}

@media(min-width: 1400px){
    .h-table{
        height: 38rem;
    }
    .bulb-img{
        inset: 1250px; 
    }

    .w-switch{
        width: calc(var(--spacing) * 17) !important;
    }
    .h-switch{
        height: 2.05rem !important
    }
    .size-4{
        margin-left: 2px;
        width: calc(var(--spacing) * 6) !important;
        height: calc(var(--spacing) * 6) !important;
    }
    .laptop-position{
        position: absolute;
        bottom: 0;
    }
}

@media(min-width: 1800px){
    .h-table{
        height: 30rem;
    }
    .bulb-img{
        inset: 1250px; 
    }
    .w-switch{
        width: calc(var(--spacing) * 17) !important;
    }
    .h-switch{
        height: 2.05rem !important
    }
    .size-4{
        margin-left: 2px;
        width: calc(var(--spacing) * 6) !important;
        height: calc(var(--spacing) * 6) !important;
    }
    .laptop-position{
        position: absolute;
        bottom: 0;
    }
}